/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #222222;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #222222;
  --ifm-navbar-link-color: #FFFFFF;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  padding: 20px 40px;
  height: 80px;
  box-shadow: none;
}

.navbar__link--active,
.navbar__link:hover,
.navbar__title:hover {
  color: #F48B68;
}

.navbar__title, .navbar__link {
  font-size: 20px;
  font-weight: bold;
}

title {
  display: block;
  font-size: 80px;
  font-family: 'Archivo Black', sans-serif;
  line-height: 80px;
  margin-bottom: 40px;
}

header {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.triangle {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Archivo', sans-serif;
}

p {
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  align-self: center;
}

.hero-container > p {
  width: 400px;
}

.hero-container {
  width: 60%;
  margin: auto;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.main-container {
  background-image: linear-gradient(#333333, #222222);
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.feature {
  z-index: 100;
}

.feature-summary {
  margin: auto;
  text-align: center;
  max-width: 540px;
  width: 40%;
}

.feature-summary-h1 {
  text-align: center;
}

.feature-summary-p {
  text-align: center;
}

.code-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 120px;
  margin-top: 48px;
  padding: 60px 92px;
  background: conic-gradient(from 223.65deg at 50% 50%, #F38065 0deg, #F4DE6B 73.13deg, #E13CC7 153.75deg, #F25C5C 225deg, #FFBF42 292.5deg, #E648B9 360deg);
  border-radius: 32px;
}

.code {
  border-radius: 20px;
}

.main-container > .triangle {
  position: relative;
}

.github-button {
  background-color: #F48B68;
}

.footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 80px;
}

.footer-content {
  width: 580px;
  margin: auto;
  text-align: center;
}

.blog-button {
  background-color: #75EDB3;
}

.button {
  border-radius: 99px;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
  align-self: center;
  margin-top: 32px;
  color: #222222;
}

.github-button:hover, .blog-button:hover {
  text-decoration: none;
  color: #FFFFFF;
}