/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #222222;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #222222;
  --ifm-navbar-link-color: #FFFFFF;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  padding: 20px 40px;
  height: 80px;
  box-shadow: none;
}

.navbar__brand {
  flex-grow: 1;
}

.navbar__items:last-of-type {

  .navbar__item {
    display: flex;

    &::after {
      content: '';
      background: url('/img/arrowRight.svg') no-repeat;
      width: 16px;
      height: 16px;
      align-self: center;
      margin-left: 6px;
    }

    &:hover {
      &::after {
        background: url('/img/arrowRight-hover.svg') no-repeat;
      }
    }
  }
}

.navbar__link--active,
.navbar__link:hover,
.navbar__title:hover {
  color: #F48B68;
}

.navbar__brand:hover {
  color: #FFFFFF;
}

.navbar__title, .navbar__link {
  font-size: 20px;
  font-weight: bold;
}

title {
  display: block;
  font-size: 80px;
  font-family: 'Archivo Black', sans-serif;
  line-height: 80px;
  margin-bottom: 40px;
  max-width: 1080px;
}

header {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.triangle {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Archivo', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  align-self: center;
}

.hero-container {
  width: 60%;
  margin: auto;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;

  p {
    width: 400px;
    color: white;
  }
}

.main-container {
  background-image: linear-gradient(#333333, #222222);
  padding-top: 0;
  display: flex;
  flex-direction: column;

  p {
    color: white;
  }
}

.feature {
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}

.feature:last-of-type {
  margin-bottom: 40px;
}

.feature-summary {
  margin: auto;
  text-align: center;
  max-width: 540px;
  width: 40%;
}

.feature-summary-h1 {
  text-align: center;
}

.feature-summary-p {
  text-align: center;
}

.background-select-container {
  align-self: center;
  display: flex;
  width: 800px;
  height: 460px;
  margin-top: 20px;
  justify-content: space-evenly;
  position: relative;

  .code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
    position: absolute;

    .gradient-box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.background-select {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 128px;
  width: 860px;
}

.select-circle {
  background: url('/img/ellipse.svg');
  cursor: pointer;
  z-index: 100;
}

.select-circle:hover {
  background: url('/img/ellipse-hover.svg');
}

.selected {
  background: url('/img/ellipse-selected.svg');
}

.select-circle, .select-circle:hover {
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
}

.code {
  border-radius: 20px;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 70%;
  z-index: 3;
}

.main-container > .triangle {
  position: relative;
}

.github-button {
  background-color: #F48B68;
}

.footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer-content {
  width: 580px;
  margin: auto;
  text-align: center;
  color: white;
}

.blog-button {
  background-color: #75EDB3;
}

.button {
  border-radius: 99px;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
  align-self: center;
  margin-top: 32px;
  color: #222222;
  z-index: 100;
}

.github-button:hover, .blog-button:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.feature-left-accessory {
  position: absolute;
  left: -200px;
  top: -100px;
}

.feature-right-accessory {
  position: absolute;
  right: -150px;
  bottom: -150px;
}
