/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #222222;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #222222;
  --ifm-toc-border-color: #333;
  --ifm-navbar-link-color: #ffffff;
  --ifm-pagination-nav-color-hover: #999;
  --ifm-code-background: black;
  --ifm-code-color: white;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  padding: 20px 40px;
  height: 80px;
  box-shadow: none;
}

.navbar__brand {
  flex-grow: 1;
}

.navbar__items:last-of-type {
  .navbar__item {
    display: flex;

    &::after {
      content: '';
      background: url('/img/arrowRight.svg') no-repeat;
      width: 16px;
      height: 16px;
      align-self: center;
      margin-left: 6px;
    }

    &:hover {
      &::after {
        background: url('/img/arrowRight-hover.svg') no-repeat;
      }
    }
  }
}

.navbar__link--active,
.navbar__link:hover,
.navbar__title:hover {
  color: #f48b68;
}

.navbar__brand:hover {
  color: #ffffff;
}

.navbar__title,
.navbar__link {
  font-size: 20px;
  font-weight: bold;
}

.hero {
  padding-top: 120px;

  @media only screen and (max-width: 959px) {
    padding-left: 0;
    padding-top: 32px;
  }

  .hero-container {
    width: 60%;
    margin: auto;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 959px) {
      width: 100%;
      text-align: left;
      padding: 32px;

      .github-button {
        margin-top: 40px;
      }
    }

    title {
      display: block;
      font-size: 80px;
      font-family: 'Archivo Black', sans-serif;
      line-height: normal;
      margin-bottom: 40px;
      max-width: 1080px;

      @media only screen and (max-width: 959px) {
        font-size: 32px;
      }
    }

    p {
      width: 400px;
      color: white;

      @media only screen and (max-width: 959px) {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}

.triangle {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: -1px;
}

h1 {
  font-size: 30px;
  font-family: 'Archivo', sans-serif;

  @media only screen and (max-width: 959px) {
    font-size: 24px;
  }
}

p {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  align-self: center;

  @media only screen and (max-width: 959px) {
    font-size: 18px;
  }
}

.main-container {
  background-image: linear-gradient(#333333, #222222);
  padding-top: 0;
  display: flex;
  flex-direction: column;

  h1 {
    color: white;
  }

  p {
    color: #DADCDE;
  }

  @media only screen and (max-width: 959px) {
    padding-top: 60px;
    margin-top: -1px;

    .button {
      margin-left: 32px;
      margin-bottom: 32px;
    }
  }
}

.feature {
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  padding-left: 32px;
  padding-right: 32px;
}

.feature:last-of-type {
  margin-bottom: 40px;
}

.feature-summary {
  margin: auto;
  text-align: center;
  max-width: 540px;
  width: 40%;

  @media only screen and (max-width: 959px) {
    width: 100%;
    text-align: left;
  }
}

.feature-summary-h1 {
  text-align: center;
}

.feature-summary-p {
  text-align: center;
}

.background-select-container {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 820px;
  height: 460px;
  margin-top: 20px;
  justify-content: space-evenly;
  position: relative;

  @media only screen and (max-width: 959px) {
    overflow: hidden;
  }

  .code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 460px;
    position: absolute;

    .gradient-box {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 32px;
    }
  }
}

.background-select {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 128px;
  width: 860px;

  @media only screen and (max-width: 959px) {
    display: none;
  }

  .select-circle {
    background: url('/img/ellipse.svg');
    cursor: pointer;
    z-index: 100;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;

    &:hover {
      background: url('/img/ellipse-hover.svg');
    }

    &.selected,
    &.selected:hover {
      background: url('/img/ellipse-selected.svg');
    }
  }
}

.code {
  border-radius: 20px;
  width: 70%;
  z-index: 3;
}

.main-container > .triangle {
  position: relative;
}

.github-button {
  background-color: #f48b68;
  color: black;
}

.footer {
  background-image: linear-gradient(#333333, #222222);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 132px;
  text-align: center;

  @media only screen and (max-width: 959px) {
    padding: 60px 32px 80px 32px;
    text-align: left;
  }

  .footer-content {
    max-width: 580px;
    margin: auto;
    color: white;
  }

  .blog-button {
    background-color: #75EDB3;
    margin-top: 20px;

  }

  p {
    color: #dadcde;
  }
}

.button {
  border-radius: 99px;
  border: none;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
  align-self: center;
  margin-top: 40px;
  z-index: 100;

  color: #222222 !important;

  @media only screen and (max-width: 959px) {
    align-self: flex-start;
  }
}

.github-button:hover,
.blog-button:hover {
  text-decoration: none;
  color: #ffffff;
}

.feature-left-accessory {
  position: absolute;
  left: -200px;
  top: -100px;
}

.feature-right-accessory {
  position: absolute;
  right: -150px;
  bottom: -150px;
}

.feature-icon {
  padding-bottom: 0.7em;
}

.cursor-sim {
  position: absolute;
  width: 100vw;
  height: 75%;
}

.cursor {
  z-index: 200;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.main-wrapper {
  background: var(--ifm-navbar-background-color);
  color: white;

  h1 {
    color: white;
  }

  p {
    color: #dadcde;
  }

  .menu__list-item {
    a {
      color: #dadcde;
    }

    :hover {
      background: #444;
    }

    :active {
      background: #333;
    }
  }

  .menu__link--active.active {
    background: #333;
  }

  a {
    color: #dadcde;
  }
}

.table-of-contents__link {
  color: #dadcde;

  &:hover {
    color: white;
  }
}

.markdown {
  p {
    font-size: 18px;
  }
}
