body {
  background-color: #202020;
}

.board {
  background-color: white;
  width: 468px;
  height: 468px;
  border: 1px solid black;
  border-radius: 48px;
  padding: 40px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 8px 8px 0 #71e6ed;
}

.row {
  display: flex;
  border-bottom: 2px solid black;
}

.row:last-child {
  border-bottom: none;
}

.square {
  height: 156px;
  width: 156px;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square > img {
  width: 70px;
  height: 70px;
}

.square:last-child {
  border-right: none;
}
